{% extends 'base.html.twig' %}


{%  block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div ng-app="leeApp">
{% verbatim %}

<div class="form-group " ng-controller="amischerchController" >

<div class="navbar navbar-default">

<div class="form-group has-feedback">
<span class="fa fa-search form-control-feedback">CHERCHE:</span>


<br /><br />
<input id="search" class="form-control" type="text" placeholder="Cherche amis" ng-model="searchText" />

</div>
</div>


      <hr>
      <ul>
      <li ng-repeat="vol in vols | filter: searchText |startFrom:currentPage*pageSize | limitTo:pageSize">

      <p>Volnumero: [[vol.volnum]]</p>
      <div ng-if="vol.pilote_id===null">
      <p ng-style="myObj">Pilote: [[vol.pilote_id]]</p>
      </div>
      <div ng-if="vol.pilote_id!==null">
      <p>Pilote: [[vol.pilote_id]]</p>
      </div>
      <div ng-if="vol.pilote_id==user">
      <p ng-style="myGood">C'est moi!</p>
      </div>

      <button type"submit" class="btn btn-danger" ng-click="register( user , vol.id )">Reserver</button>
      <p>Userid: [[user]]</p>
      <hr>
      </li>
      </ul>
      <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
      Previous
      </button>
      [[currentPage+1]]/[[numberOfPages()]]
      <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
      Next
      </button>


{% endverbatim %}










{% block javascripts %}





<script src="http://localhost/symfonyairport/searchsort.js"></script>



<script>

var leeApp = angular.module('leeApp', ['ngRoute']);


leeApp.
  config([ '$routeProvider','$interpolateProvider', function($routeProvider, $interpolateProvider) {
  $interpolateProvider.startSymbol('[[');
  $interpolateProvider.endSymbol(']]');
}])


.controller('amischerchController',['$scope', '$http', function($scope, $http, $location){
 $scope.user = {{user}};
 $scope.currentPage = 0;
 $scope.pageSize = 3;
 $scope.data = [];
 $scope.numberOfPages=function(){
     return Math.ceil($scope.data.length/$scope.pageSize);
 }
 for (var i=0; i<45; i++) {
     $scope.data.push("Item "+i);
 }

 $scope.myObj = {
    "color" : "white",
    "background-color" : "coral",
    "font-size" : "17px",
    "padding" : "17px",

  }

 $scope.myGood = {
    "color" : "white",
    "background-color" : "#33cc33",
    "font-size" : "17px",
    "padding" : "17px",

  }
 $scope.mybon = {
    "color" : "white",
    "background-color" : "orange",
    "font-size" : "17px",
    "padding" : "17px",

  }

  $http.get("http://localhost:7000/api/voladmin")
  .then(function (response)
    { console.log(response.data);
     console.log('reussir!!');

      $scope.vols = response.data;},
    function onError(reponse)
    { console.log("essayer jungmin encore");

    });

  $scope.register = function(user, vol){
      $http({
             method:"POST",
             url:"http://localhost:7000/api/addpilote",
             data:{user, vol}
           }).then(function(reponse){
             $scope.names = reponse.data;

             console.log(reponse.data);
             console.log('vous etes avec mon Seigneur!!!Reussir');
              $route.reload();

           });
  }

  }])

.filter('startFrom', function() {
  return function(input, start) {
      start = +start; //parse to int
      return input.slice(start);
  }
})

.service('move', function(){

})





    </script>
{% endblock %}
</div>
{% endblock %}
