{% extends 'base.html.twig' %}


{%  block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div ng-app="leeApp">
{% verbatim %}

<div class="form-group " ng-controller="amischerchController" >

<div class="navbar navbar-default">

<div class="form-group has-feedback">
<span class="fa fa-search form-control-feedback">CHERCHE:</span>


<br /><br />
<input id="search" class="form-control" type="text" placeholder="Cherche amis" ng-model="searchText" />

</div>
</div>


      <hr>
      <ul>
      <li ng-repeat="vol in vols | filter: searchText |startFrom:currentPage*pageSize | limitTo:pageSize">

      <p>Volnumero: [[vol.volnum]]</p>
      <div ng-if="vol.pilotename===null">
      <p ng-style="myObj">Pilote: [[vol.pilotename]]</p>
      </div>
      <div ng-if="vol.pilotename!==null">
      <p>Pilote: [[vol.pilotename]]</p>
      </div>
      <div ng-if="vol.ville===null">
      <p ng-style="myObj">Ville: [[vol.ville]]</p>
      </div>
      <div ng-if="vol.ville!==null">
      <p>Ville: [[vol.ville]]</p>
      </div>
      <div ng-if="vol.arrive===null">
      <p ng-style="myObj">Arrive: [[vol.arrive]]</p>
      </div>
      <div ng-if="vol.arrive!==null">
      <p>Arrive: [[vol.arrive]]</p>
      </div>
      <div ng-if="vol.depart===null">
      <p ng-style="myObj">Depart: [[vol.depart]]</p>
      </div>
      <div ng-if="vol.depart!==null">
      <p>Depart: [[vol.depart]]</p>
      </div>
      <div ng-if="vol.pasnum===null">
      <p ng-style="myObj">Pasnum: [[vol.pasnum]]/5</p>
      </div>
      <div ng-if="vol.pasnum!==null">
      <p>Pasnum: [[vol.pasnum]]/5</p>
      </div>
      <button type"submit" class="btn btn-default" ng-click="register( user , vol.id )">Edit</button>
      <button type"submit" class="btn btn-danger" ng-click="del(  vol.id )">Del</button>
      <p>Userid: [[user]]</p>

      <hr>
      </li>
      </ul>
      <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
      Previous
      </button>
      [[currentPage+1]]/[[numberOfPages()]]
      <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
      Next
      </button>


{% endverbatim %}

<hr>
{{user}}








{% block javascripts %}





<script src="http://localhost/symfonyairport/searchsort.js"></script>



<script>

var User = {{user}};

var leeApp = angular.module('leeApp', ['ngRoute']);


leeApp.
  config([ '$routeProvider','$interpolateProvider', function($routeProvider, $interpolateProvider) {
  $interpolateProvider.startSymbol('[[');
  $interpolateProvider.endSymbol(']]');
}])

.value('User', '{{user}}')
.controller('amischerchController',['$scope', '$http', function($scope, $http, $location, User){

$scope.currentPage = 0;
 $scope.pageSize = 3;
 $scope.data = [];
 $scope.numberOfPages=function(){
     return Math.ceil($scope.data.length/$scope.pageSize);
 }
 for (var i=0; i<45; i++) {
     $scope.data.push("Item "+i);
 }

 $scope.myObj = {
    "color" : "white",
    "background-color" : "coral",
    "font-size" : "17px",
    "padding" : "17px",

  }

  $scope.register = function(user, vol){
      $http({
             method:"POST",
             url:"http://localhost:7000/api/passager",
             data:{user, vol}
           }).then(function(reponse){
             $scope.names = reponse.data;

             console.log(reponse.data);
             console.log('vous etes avec mon Seigneur!!!Reussir');
             $window.location.href = 'http://localhost:8000/';

           });
  }
  $scope.del = function(id){
      $http({
             method:"POST",
             url:"http://localhost:7000/api/passager",
             data:id
           }).then(function(reponse){
             $scope.names = reponse.data;

             console.log(reponse.data);
             console.log('vous etes avec mon Seigneur!!!Reussir');
             $window.location.href = 'http://localhost:8000/';

           });
  }

  $http.get("http://localhost:7000/api/admingere")
  .then(function (response)
    { console.log(response.data);
     console.log('reussir!!');



      $scope.vols = response.data;},
    function onError(reponse)
    { console.log("essayer jungmin encore");

    });



  }])

  .filter('startFrom', function() {
    return function(input, start) {
        start = +start; //parse to int
        return input.slice(start);
    }
});





    </script>
{% endblock %}
</div>
{% endblock %}
